@media (min-width: 1024px) {
	#main-header .navbar.navbar-default .navbar-nav-main.nav{margin-left:4.25rem;}
	#main-header .navbar.navbar-default .navbar-form{margin-left:2.25rem;}
	#main-header .navbar.navbar-default .navbar-nav-main.nav, #main-header .navbar.navbar-default .navbar-form{padding: 1rem 0;}
	#main-header .navbar.navbar-default .navbar-right{padding:1.5rem 0; margin-right:0;}
	#main-header .navbar.navbar-default .navbar-right>li>.dropdown-menu{margin-top: 2.25rem;min-width:220px; padding: 0;}
	#main-header .navbar.navbar-default .navbar-right>li>a{margin-right:1rem;}
}

@media (max-width: 767px){
	#main-header .navbar.navbar-default .navbar-toggle{padding: 1.75rem 0; border:none;}
	#main-header .navbar.navbar-default .navbar-toggle:focus, #main-header .navbar.navbar-default .navbar-toggle:hover{background-color: transparent; cursor: pointer;}
}