@media (min-width: 1280px) {
	#main-header .navbar.navbar-default .navbar-nav-main.nav{margin-left:4.25rem;}
	#main-header .navbar.navbar-default .navbar-form{margin-left:2.25rem;}
	#main-header .navbar.navbar-default .navbar-nav-main.nav, #main-header .navbar.navbar-default .navbar-form{padding: 1rem 0;}
	#main-header .navbar.navbar-default form .form-group input.search-form{}
	#main-header .navbar.navbar-default form button{font-size: 14px;}
	#main-header .navbar.navbar-default .navbar-nav-main.nav>li>a {font-size: 12px;}
	#main-header .navbar.navbar-default .navbar-right{padding:1.5rem 0; margin-right:0;}
	#main-header .navbar.navbar-default .navbar-right>li>.dropdown-menu{margin: 2.25rem 0 0 0 !important;}
	#main-header .navbar.navbar-default .navbar-right>li>a{margin-right:1rem;}
}

@media (max-width: 1279px) {
	#main-header .navbar.navbar-default form{padding-left:10%;}
	#main-header .navbar.navbar-default form .form-group input.search-form{height: auto;}
	#main-header .navbar.navbar-default form button{font-size: 10px;}
	#main-header .navbar.navbar-default .navbar-nav-main.nav>li>a {font-size: 11px;}
	#main-header .navbar.navbar-default .navbar-header{float:none;}
	#main-header .navbar.navbar-default .navbar-right{margin-right:1rem;}
	#main-header .navbar.navbar-default .navbar-right a#profile-btn img{width:36px;height:36px;}
}

@media (min-width: 1024px){
	#main-header .navbar.navbar-default form .form-group input.search-form{min-width: 230px;}
	#main-header .navbar.navbar-default .navbar-right a#profile-btn{padding:0;}
}

@media (max-width: 1023px){
	#main-header .navbar.navbar-default form{padding-left:0;}
	#main-header .navbar.navbar-default form .form-group input.search-form{min-width: 160px;}
	#main-header .navbar.navbar-default .navbar-right a#profile-btn{padding:4px 0 0 0;}
}

@media (min-width: 768px){
	#main-header .navbar.navbar-default .navbar-right>li>.dropdown-menu{margin-top: 1.5rem; margin-right: -0.75rem;}
	#main-header .navbar.navbar-default .navbar-right>li>.dropdown-menu:before{content: ""; position: absolute; right: 12px; top: -18px; width: 0; height: 0; border-style: solid; border-width: 0 18px 18px 18px; border-color: transparent transparent #FFF transparent; z-index: 9999;}
	#main-header .navbar.navbar-default .navbar-right>li>.dropdown-menu:after{content: ""; position: absolute; right: 12px; top: -18px; width: 0; height: 0; border-style: solid; border-width: 0 18px 18px 18px; border-color: transparent transparent #CCC transparent; z-index: 9990;}
	.c-hamburger{display:none;}
	#user-dropdown{display:block;}
	#user-dropdown-767{display:none;}
}

@media (max-width: 768px){
	#main-header .navbar.navbar-default form .form-group input.search-form{min-width: 100px;}
}

@media (max-width: 767px){
	.c-hamburger{display:block;}
	#main-header .navbar.navbar-default .navbar-toggle{padding:2.5rem 0; border:none;}
	#main-header .navbar.navbar-default .navbar-toggle:focus, #main-header .navbar.navbar-default .navbar-toggle:hover{background-color: transparent; cursor: pointer;}
	#main-header .navbar.navbar-default .navbar-form{margin-left:0;margin-right:0;}
	#main-header .navbar.navbar-default .navbar-right{margin:0;}
	#user-dropdown{display:none;}
	#user-dropdown-767{display:block;}
	
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767{margin-bottom:1rem;}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.account, #main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li a{padding: 10px 20px; line-height: 1.3; font-family: 'Nexa Bold'; text-transform: uppercase; font-size: 12px; color: #555555;}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.account img.menu-avatar{padding-right: 1rem; float: left;}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.account .email{display:block;text-transform:lowercase;} 
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.account .email .gray{color:#CCC;}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li a{background-color: #F7F9FA; background-repeat: no-repeat; background-position: 94% center; background-size: 16px; display: block; width: 100%;}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li a:hover, #main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li:hover a{color:#FFF; background-color:#00A4E4;}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li:not(:last-child){border-bottom: 1px solid #EEEEEE;}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.member a{background-image: url(images/member@3x.png);}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.member:hover a{background-image: url(images/member@3x-white.png);}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.candidate a{background-image: url(images/candidate@3x.png);}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.candidate:hover a{background-image: url(images/candidate@3x-white.png);}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.student a{background-image: url(images/students@3x.png);}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.student:hover a{background-image: url(images/students@3x-white.png);}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.setting a{background-image: url(images/Dashboard@3x.png);}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.setting:hover a{background-image: url(images/Dashboard@3x-white.png);}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.logout a{background-image: url(images/logout@3x.png);}
	#main-header .navbar.navbar-default .navbar-right#user-dropdown-767 li.logout:hover a{background-image: url(images/logout@3x-white.png);}	
	}